<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DB" connectionString="workstation id=extraescolaresdb.mssql.somee.com;packet size=4096;user id=voyaguer_SQLLogin_1;pwd=hpxtgs1ctq;data source=extraescolaresdb.mssql.somee.com;persist security info=False;initial catalog=extraescolaresdb"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>
